<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Oswald:wght@200&family=Playfair+Display&family=Poppins:wght@500&family=Raleway:wght@200&family=Roboto:wght@700&family=Source+Sans+Pro:wght@300&family=Ubuntu:wght@700&display=swap" rel="stylesheet">
  </head>

<body id="body">
    

  <nav class="navbar ">
    <div class="container-fluid">
      <a class="navbar-brand">9º Ano</a>
      
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <a class="center d-flex text-nav nav-link "> ALUNOS   <img class="img-nav-iten" src="estudent01.jpeg" alt="">
          </a>
          <a class="center d-flex text-nav nav-link"> ESTUDO <img src="books02.png"  class="img-nav-iten alt="">
          
          </a>
          <a class="text-nav nav-link center">CHAT <img src="chat01.jpeg"  class="ajuste01 img-nav-iten alt=""> </a> 
        </div>
    </div>
  </nav>

  <h1 class="title">SOBRE A SALA</h1>

 
         <!-- Testimonials -->

  <section id="testimonials">
    <div id="carousel1" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="5000" data-bs-pause="hover">
          
          <h2 class="com">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, quam. Autem</h2>
          <img class="img2" src="https://davidnga.github.io/2-Projeto/Matheus.png" alt="dog-profile">
          <p>BEATRIZ</p>
          <img src="" class="d-block w-100" alt="">
        </div>
        <div class="carousel-item" data-bs-interval="5000" data-bs-pause="hover">
          <h2 class="com1 com">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, quam. Autem</h2>
          <img class="img2" src="https://davidnga.github.io/2-Projeto//Paulo.png" alt="lady-profile">
          <p>Gabriel</p>
        </div>
        <div class="carousel-item" data-bs-interval="5000" data-bs-pause="hover">
          <h2 class="com">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, quam. Autem</h2>
          <img src="https://davidnga.github.io/2-Projeto//Paulo.png" class="img2" alt="...">
          <p>Ádamo</p>
        </div>
      </div>
        <button class="btnn carousel-control-prev" type="button" data-bs-target="#carousel1" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="btnn carousel-control-next" type="button" data-bs-target="#carousel1" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    
      
    </div>
      
      
  </div>
</div>
</section>
<section id="siteabout">
  <h1 class="title">SOBRE O SITE</h1>

   <<div class="row"  >
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <img src="estudent01.jpeg" style="width: 15rem;margin-bottom: 1rem;" class="img-cardd card-img-top " alt="...">
          <h5 style="font-size: 1.5rem;" class="card-title center">ALUNOS</h5>
          <p class="txt-card card-text">Esta seção contém todos os alunos com algumas informações. </p>
          <a href="#" class="btn btn-primary">ALUNOS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          
          <img  src="books02.png" style="width: 15rem;margin-bottom: 1rem;" class="card-img-top img-card" alt="...">
          <h5 class="card-title">ESTUDOS</h5>
          <p class="txt-card card-text">Nesta seção, você conseguirá acessar conteúdos relacionados às matérias e outros assuntos.</p>
          <a href="#" class="btn btn-primary">ESTUDOS</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <img src="chat01.jpeg" style="width: 15rem;margin-bottom: 1rem;" class="card-img-top img-card" alt="...">
          <h5 class="card-title">CHAT</h5>
          <p class="txt-card card-text">O chat possui anônimato em sua estrutura. Você pode ver as mensagens que todos mandam, mas sem certeza do remetente.</p>
          <a href="#" class="btn btn-primary">CHAT</a>
        </div>
      </div>
    </div>
  </div>

</section>
<footer id="footer" class="ArrumarPad">
  
  <a href=""><img src="insta01.png" style="margin-right: 1rem; width: 3rem;" class="img-nav-iten alt="> </a>
  <p>By David Nunes</p>

</footer>  

</body>
</html>